
:root {
    --main-color : black;
}



/*general styling*/
div , body {
    margin: o;
    padding: o;
}
.vh {
   min-height: calc(100vh - 72.5px);

}
.hide {
    display: none ;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.active {
border-radius: 5px;
background-color: rgb(221, 221, 185);

    
}
.arrow-button{
    color: rgb(30, 116, 42) !important;
    width: 30%;
    height: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: rgba(3, 0, 0, 0.178);
    transition: color , font-size .3s;
    
}
.button-next p {
    transition: color .3s;
}
.arrow-button:hover , .arrow-button p:hover {
color: rgba(7, 7, 14, 0.514) !important;
    font-size: 14px !important;
}


/*end of general styling*/
/*header*/
.nav-container{
    position: sticky;
    top: 0;
    z-index: 1;
}
.nav-container2{
    background-color: wheat;
    position: sticky;
    top: 0;
    transition: background-color 0.2s;


}
#nav-iconshow,#nav-iconhide {
    display: none  ;
    cursor: pointer;
    font-size: x-large;
}

.nav-link {
    transition: font-size .3s;
    cursor: pointer;
}
.nav-link:hover {
border-radius: 5px;
background-color: rgb(221, 221, 185);

}
.logo img {
    width: 200px;
}
/*end of header*/
/*home-page*/
.home-page {
    background-color: wheat;
    
}
.know-more{
    font-size: 15px;
}
/*end of home-page*/
/*skills page*/
.flex-skills {
display: flex;
flex-wrap: wrap;
justify-content: space-around;

    
}

.percent-container {
    width: 70%;
    height: 20px;
    background-color: gray;
    overflow: hidden;
    border-radius: 20px;
    margin-top: 10px;
    box-shadow: 0 0 5px black;
}
.percent {
    height: 100%;
    background-color: rgb(130, 201, 48);
}
/*end of skills page*/
/*projects page*/
.projects-container{
    width: 100%;
    height: 60vh;
}
.projects-page {
    background-color: #77808f;
}

/*end of projects page*/
/*about me page*/
.about-container {
    width: 100%;
    min-height: 60vh;
    flex-wrap: wrap;

}

/*end of about me page*/
/*contact page*/
.contact-page {
    background-color: #96d9a7;
}
.contact-container {
width: 100%;
min-height: 60vh;
flex-wrap: wrap;
}
#alert-message {
        transition: color  .3s;
}
/*end of contact page*/
/**/
/**/
@media (max-width:789px){
    #nav-iconshow  {
        display: block ;
    }
    .nav-list {
        display: none  ;
opacity: .999;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        position: absolute;
        top: 72px;
        right: 0;
        left: 0;
        height: calc(100vh - 72px);
        text-align: center;
        padding: 0;
        z-index: 11;
    }

}
@media (min-width:789px){
    .nav-list{
        display: flex !important;
    }
    #nav-iconshow,#nav-iconhide {
        display: none !important ;
    }
    
}